<h1>Сброс пароля</h1>
<p>Здравствуйте, {{username}}!</p>
<p>Вы запросили сброс пароля. Перейдите по ссылке ниже, чтобы установить новый пароль:</p>
<a href="{{resetUrl}}">{{resetUrl}}</a>
<p>Если вы не запрашивали сброс, проигнорируйте это письмо.</p>